<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <script type="text/javascript"  src="{{url_for('static', filename='home.js')}}"></script>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> IPL Data </h1>
    <div class="row">
      <!--#Top 4 teams in terms of wins-->
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">                
                <div class="caption">
                  <h3>Top 4 teams in terms of wins</h3>
                  <ul >
                        {% for team in data['topteam'] %}
                        <li>{{team}}</li>
                        {% endfor %}
                  </ul>                  
                  </div>
              </div>
            </div>
            <!--#Which team won the most number of tosses in the season -->
            <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">                
                      <div class="caption">
                        <h3>Team won the most number of tosses in the season</h3>
                        <select class="form-control" id="seasonToss" onchange="teamToWinMostTossInSeason()">
                                {% for season in data['season'] %}
                                <option value="{{season}}">{{season}}</option>
                                {% endfor %}                                
                              </select>
                        <p id='teamToWinMostTossInSeason'>    {{data['teamToWinMostTossInSeason']}}                      
                        </p>                
                        </div>
                    </div>
            </div>
            <!--
            #Which player won the maximum number of Player of the Match awards in the whole season-->
            <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">                
                      <div class="caption">
                        <h3>Which player won the maximum number of Player of the Match awards in the whole season?</h3>
                        <select class="form-control" id="seasonMostManOfTheMatch" onchange="PlayerToWinMaxManOfMatchInSeason()">
                          {% for season in data['season'] %}
                          <option value="{{season}}">{{season}}</option>
                          {% endfor %}                                
                        </select>
                        <p id="PlayerToWinMaxManOfMatchInSeason">{{data['PlayerToWinMaxManOfMatchInSeason']}}                           
                        </p>                
                        </div>
                    </div>
            </div>
          

<!-- #Which team won max matches in the whole season-->
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">                
      <div class="caption">
        <h3>Which team won max matches in the whole season?</h3>
        <select class="form-control" id="seasonTeamWonMaxMatches" onchange="TeamToWinMaxMaxinSeason()">
          {% for season in data['season'] %}
          <option value="{{season}}">{{season}}</option>
          {% endfor %}                                
        </select>
        <p id="TeamToWinMaxMaxinSeason">{{data['TeamToWinMaxMaxinSeason']}}                           
        </p>                
        </div>
    </div>
</div>
<!--Which location has the most number of wins for the top team-->
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">                
    <div class="caption">
      <h3>Which location has the most number of wins for the top team?</h3>
      
      <p id="LocationWithMostWin">{{data['LocationWithMostWinsForTopTeam']}}                           
      </p>                
      </div>
  </div>
</div>
<!--Which % of teams decided to bat when they won the toss-->
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">                
    <div class="caption">
      <h3>Which % of teams decided to bat when they won the toss?</h3>
      
      <p id="teamsDecidedBatWonToss">{{data['PercentageOfTeamDecidedToBatWhenWonTheToss']}}                           
      </p>                
      </div>
  </div>
</div>

<!--Which team won by the highest margin of runs for the season-->
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">                
    <div class="caption">
      <h3>Team won by the highest margin of runs for the season</h3>
      <select class="form-control" id="seasonWinByHighestMarginOfRun" onchange="teamToWinByHighestMarginOfRun()">
              {% for season in data['season'] %}
              <option value="{{season}}">{{season}}</option>
              {% endfor %}                                
            </select>
      <p id='teamWinByHighestMarginOfRun'>    {{data['HighestMarginWinForaseason']}}                      
      </p>                
      </div>
  </div>
</div>


          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">                
              <div class="caption">
                <h3>Team Win% Loss% in the season in a City</h3>
                <select class="form-control" id="winlossseason" onchange="winlossstasts()">
                        {% for season in data['season'] %}
                        <option value="{{season}}">{{season}}</option>
                        {% endfor %}
                        
                      </select>
                <p id='winlossdatas'>                          
                </p>                
                </div>
            </div>
          
          </div>
    </div>
    
    {% endblock %}
   

  </body>
</html>